.button {
  padding: 0.2rem 1.2rem;
  font-size: 1.6rem;
  background-color: #222222;
  border: 0.2rem solid #000000;
  border-radius: 0.4rem;
  color: #ffffff;
}

.button.active {
  background-color: #faa;
}
