@import './libs.scss';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}
